{% extends 'includes/nav.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en" class="">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
</head>
<body class="bg-gradient-to-br
from-ccyan to-cgreen via-green-200 
antialiased bg-no-repeat bg-cover h-full">
{% endblock%}

{% block left_sidebar %} {% include 'includes/left_sidebar.html' %}  {% endblock %}

{% block main_content %} {% include 'includes/main_content.html' %} {% endblock %}

{% block right_sidebar %}{% include 'includes/right_sidebar.html' %} {% endblock %}




</body>
</html>


