{% extends 'includes/nav.html' %}
{%block content%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Novedades</title>
</head>
<body class="bg-gray-400">
      <!-- Container for demo purpose -->
<div class="container my-24 px-6 mx-auto ">
    <!-- Section: Design Block -->
    <section class="mb-32 text-gray-800 text-center">
    
      <!-- Single article -->
      <div class="flex flex-wrap justify-center mb-12">
        <div class="grow-0 shrink-0 basis-auto w-full md:w-10/12 px-3">
          <div
            class="relative overflow-hidden bg-no-repeat bg-cover relative overflow-hidden bg-no-repeat bg-cover ripple shadow-lg mb-6 rounded-lg"
            data-mdb-ripple="true" data-mdb-ripple-color="light">
            <img src="https://mdbootstrap.com/img/new/slides/080.jpg" class="w-full" />
            <a href="#!">
              <div class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed opacity-0 hover:opacity-100 transition duration-300 ease-in-out"
                style="background-color: rgba(251, 251, 251, 0.15)"></div>
            </a>
          </div>
        </div>
    
        <div class="grow-0 shrink-0 basis-auto w-full md:w-8/12 xl:w-6/12 px-3">
          <h5 class="text-lg font-bold mb-3">This is a very long post title</h5>
          <p class="text-gray-300 mb-4">
            <small>Published <u>15.01.2022</u> by
              <a href="" class="text-gray-900">Anna Maria Doe</a></small>
          </p>
          <p class="mb-6 text-white">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa
            atque hic, officiis blanditiis accusantium veritatis ullam?
            Maiores atque autem velit officiis molestiae voluptates suscipit
            eligendi, vero expedita sequi, doloremque modi?
          </p>
          <a data-mdb-ripple="true" data-mdb-ripple-color="light"
            class="inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded-full shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out"
            href="" role="button">Read more</a>
        </div>
      </div>
      <!-- Single article -->
    
      <!-- Single article -->
      <div class="flex flex-wrap justify-center mb-12">
        <div class="grow-0 shrink-0 basis-auto w-full md:w-10/12 px-3">
          <div
            class="relative overflow-hidden bg-no-repeat bg-cover relative overflow-hidden bg-no-repeat bg-cover ripple shadow-lg mb-6 rounded-lg"
            data-mdb-ripple="true" data-mdb-ripple-color="light">
            <img src="https://mdbootstrap.com/img/new/slides/100.jpg" class="w-full" />
            <a href="#!">
              <div class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed opacity-0 hover:opacity-100 transition duration-300 ease-in-out"
                style="background-color: rgba(251, 251, 251, 0.15)"></div>
            </a>
          </div>
        </div>
    
        <div class="grow-0 shrink-0 basis-auto w-full md:w-8/12 xl:w-6/12 px-3">
          <h5 class="font-bold text-lg mb-3">This is a very long post title</h5>
    
          <p class="text-gray-500 mb-4">
            <small>Published <u>14.01.2022</u> by
              <a href="" class="text-gray-900">Anna Maria Doe</a></small>
          </p>
          <p class="mb-6">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa
            atque hic, officiis blanditiis accusantium veritatis ullam?
            Maiores atque autem velit officiis molestiae voluptates suscipit
            eligendi, vero expedita sequi, doloremque modi?
          </p>
          <a data-mdb-ripple="true" data-mdb-ripple-color="light"
            class="inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded-full shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out"
            href="" role="button">Read more</a>
        </div>
      </div>
      <!-- Single article -->
    
      <!-- Single article -->
      <div class="flex flex-wrap justify-center mb-12">
        <div class="grow-0 shrink-0 basis-auto w-full md:w-10/12 px-3">
          <div
            class="relative overflow-hidden bg-no-repeat bg-cover relative overflow-hidden bg-no-repeat bg-cover ripple shadow-lg mb-6 rounded-lg"
            data-mdb-ripple="true" data-mdb-ripple-color="light">
            <img src="https://mdbootstrap.com/img/new/slides/101.jpg" class="w-full" />
            <a href="#!">
              <div class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed opacity-0 hover:opacity-100 transition duration-300 ease-in-out"
                style="background-color: rgba(251, 251, 251, 0.15)"></div>
            </a>
          </div>
        </div>
    
        <div class="grow-0 shrink-0 basis-auto w-full md:w-8/12 xl:w-6/12 px-3">
          <h5 class="font-bold text-lg mb-3">This is a very long post title</h5>
    
          <p class="text-gray-500 mb-4">
            <small>Published <u>13.01.2022</u> by
              <a href="" class="text-gray-900">Anna Maria Doe</a></small>
          </p>
          <p class="mb-6">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa
            atque hic, officiis blanditiis accusantium veritatis ullam?
            Maiores atque autem velit officiis molestiae voluptates suscipit
            eligendi, vero expedita sequi, doloremque modi?
          </p>
          <a data-mdb-ripple="true" data-mdb-ripple-color="light"
            class="inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded-full shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out"
            href="" role="button">Read more</a>
        </div>
      </div>
      <!-- Single article -->
    
    </section>
    <!-- Section: Design Block -->
    
    </div>
    <!-- Container for demo purpose -->
</body>
</html>
{% endblock %}