{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
</head>

<body class=" bg-cover bg-center sm:w-auto md:w-auto lg:w-full "
  style="background-image: url('../theme/static/casajardin.jpg')"
  x-data="{ showModal1: false, showModal2: false, showModal3: false }"
  :class="{'overflow-y-hidden': showModal1 || showModal2 || showModal3}">
  <main class=" w-full flex flex-col sm:flex-row justify-center top-0 mt-24 items-center gap-10">

    <button
      class="hover:font-serif font-semibold p-2  w-32 h-96 rounded-full hover:bg-gray-500 focus:outline-none focus:ring shadow-lg hover:shadow-none transition-all duration-300 m-2"
      @click="showModal1 = true">
      <h1 class="hover:text-black text-white italic text-2xl font-bold p-3 rounded-full">Ofertas</h1>

    </button>
    <button
      class="hover:font-serif font-semibold p-2 w-32 h-96 rounded-full hover:bg-gray-500 focus:outline-none focus:ring shadow-lg hover:shadow-none transition-all duration-300 m-2"
      @click="showModal2 = true">
      <h1 class="hover:text-black text-white italic text-2xl font-bold p-3 rounded-full">Publica</h1>
    </button>
    <button
      class="hover:font-serif font-semibold p-2 w-32 h-96 rounded-full hover:bg-gray-500 focus:outline-none focus:ring shadow-lg hover:shadow-none transition-all duration-300 m-2"
      @click="showModal3 = true">
      <h1 class="hover:text-black text-white italic text-2xl font-bold p-3 rounded-full ">OpenAI</h1>
    </button>
  </main>

  <!-- Modal1 -->
  <div class="fixed inset-0 bg-black bg-opacity-50 duration-300 overflow-y-auto" 
  x-show="showModal1"
    x-transition:enter="transition duration-300" 
    x-transition:enter-start="opacity-0"
    x-transition:enter-end="opacity-100" 
    x-transition:leave="transition duration-300"
    x-transition:leave-start="opacity-100" 
    x-transition:leave-end="opacity-0">

    <div class="relative sm:w-3/4 md:w-1/2 lg:w-4/5 mx-2 sm:mx-auto my-10 opacity-100">
      <div class="relative bg-white  shadow-lg rounded-md text-gray-900 z-20"
       @click.away="showModal1 = false"
        x-show="showModal1" x-transition:enter="transition transform duration-300" 
        x-transition:enter-start="scale-0"
        x-transition:enter-end="scale-100" 
        x-transition:leave="transition transform duration-300"
        x-transition:leave-start="scale-100" 
        x-transition:leave-end="scale-0">
        <!-- component -->
        <main class="p-3 text-center">
          <br>
          <h1 class="text-2xl font-bold font-mono">Comunidad de publicaciones</h1>
          <br>

          <div class="flex justify-center">
            <div class="mb-3 xl:w-96">
              <div class="relative mb-4 flex w-full flex-wrap items-stretch">
                <input type="search"
                  class="relative m-0 -mr-px block w-[1%] min-w-0 flex-auto rounded-full border border-solid border-neutral-300 bg-transparent bg-clip-padding px-3 py-1.5 text-base font-normal text-neutral-700 outline-none transition duration-300 ease-in-out focus:border-primary-600 focus:text-neutral-700 focus:shadow-te-primary focus:outline-none dark:border-neutral-600 dark:text-neutral-200 dark:placeholder:text-neutral-200"
                  placeholder="Search" aria-label="Search" aria-describedby="button-addon3" />
                &nbsp;
                <button
                  class="relative z-[2] rounded-full border-2 border-primary px-6 py-2 text-xs font-medium uppercase text-primary transition duration-150 ease-in-out hover:bg-black hover:bg-opacity-5 hover:text-white focus:outline-none focus:ring-0"
                  type="button" id="button-addon3" data-te-ripple-init>
                  Search
                </button>
              </div>
            </div>
          </div>
          <br>
          {% include 'includes/right_sidebar.html' %}
          </p>
        </main>
        <footer class="flex justify-center bg-transparent">
          <button
            class="bg-blue-600 font-semibold
             text-white py-3 w-full rounded-b-md hover:bg-blue-700 
             focus:outline-none focus:ring shadow-lg hover:shadow-none
              transition-all duration-300"
            @click="showModal1 = false">
            Cerrar
          </button>
        </footer>
      </div>
    </div>
  </div>

  <!-- Modal2 -->
  <div class="fixed inset-0 z-20 bg-black bg-opacity-50 duration-300 overflow-y-auto" x-show="showModal2"
    x-transition:enter="transition duration-300" x-transition:enter-start="opacity-0"
    x-transition:enter-end="opacity-100" x-transition:leave="transition duration-300"
    x-transition:leave-start="opacity-100" x-transition:leave-end="opacity-0">

    <div class="relative sm:w-3/4 md:w-1/2 lg:w-4/5 mx-2 sm:mx-auto my-10 opacity-100">
      <div class="relative bg-white shadow-lg rounded-md text-gray-900 z-20" 
      @click.away="showModal2 = false"
        x-show="showModal2" 
        x-transition:enter="transition transform duration-300" 
        x-transition:enter-start="scale-0"
        x-transition:enter-end="scale-100" 
        x-transition:leave="transition transform duration-300"
        x-transition:leave-start="scale-100" 
        x-transition:leave-end="scale-0">
        <div class="flex justify-center items-top pt-24">
        <h1 class="font-bold text-2xl">Realiza tu publicacion!</h1>
        <br>
        <small class="absolute mt-10">Hazla lo mas detallada y llamativa posible!</small>
      </div>
<!-- component -->
<br>
<section class="max-w-4xl p-6 mx-auto bg-indigo-600 rounded-md shadow-md dark:bg-gray-800 mt-20">
  <h1 class="text-xl font-bold text-white capitalize dark:text-white">Creacion de publicacion</h1>
  <form enctype="multipart/form-data" method="POST">
    {%csrf_token%}
      <div class="grid grid-cols-1 gap-6 mt-4 sm:grid-cols-2">
          <div>
              <label class="text-white dark:text-gray-200" for="username">Titulo</label>
              {{createP.title}}
              <!-- class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-300 
              rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-500 
              dark:focus:border-blue-500 focus:outline-none focus:ring"> -->
          </div>

          <div>
              <label class="text-white dark:text-gray-200" for="emailAddress">Email</label>
              {{createP.email_field}}  
              {% comment %} class="block w-full px-4 py-2 mt-2 
              text-gray-700 bg-white border border-gray-300 rounded-md dark:bg-gray-800 dark:text-gray-300 
              dark:border-gray-600 focus:border-blue-500 dark:focus:border-blue-500 focus:outline-none focus:ring" {% endcomment %}
          </div>

          <div>
              <label class="text-white dark:text-gray-200" for="password">Presupuesto promedio MXN</label>
              {{createP.presupuesto_prom}} {% comment %} class="block w-full px-4 py-2 mt-2 text-gray-700 
              bg-white border border-gray-300 rounded-md dark:bg-gray-800 dark:text-gray-300 
              dark:border-gray-600 focus:border-blue-500 dark:focus:border-blue-500 focus:outline-none focus:ring" {% endcomment %}
          </div>

          <div>
              <label class="text-white dark:text-gray-200" for="passwordConfirmation">Formas de contactar</label>
              {{createP.contacto}} {% comment %} class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-300 
              rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-500 
              dark:focus:border-blue-500 focus:outline-none focus:ring" {% endcomment %}
          </div>
         
          <div>
              <label class="text-white dark:text-gray-200" for="passwordConfirmation">Materiales</label>
              <select class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-300 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-500 dark:focus:border-blue-500 focus:outline-none focus:ring">
                  <option>Acero</option>
                  <option>Adobe</option>
                  <option>Tangerang</option>
                  <option>Bandung</option>
              </select>
          </div>
          <div>
              <label class="text-white dark:text-gray-200" for="passwordConfirmation">Fecha Final Maxima Requerida</label>
              <input id="date" type="date" class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-300 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-500 dark:focus:border-blue-500 focus:outline-none focus:ring">
          </div>
          <div>
              <label class="text-white dark:text-gray-200" for="passwordConfirmation">Descripcion Detallada</label>
              {{createP.description}}
             <!--  class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-300 
              rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-500 
              dark:focus:border-blue-500 focus:outline-none focus:ring" -->
          </div>
          <div>
              <label class="block text-sm font-medium text-white">
              Image
            </label>
            <div class="mt-1 flex justify-center px-6 pt-5 pb-6 border-2 border-gray-300 border-dashed rounded-md">
              <div class="space-y-1 text-center">
                <svg class="mx-auto h-12 w-12 text-white" stroke="currentColor" fill="none" viewBox="0 0 48 48" aria-hidden="true">
                  <path d="M28 8H12a4 4 0 00-4 4v20m32-12v8m0 0v8a4 4 0 01-4 4H12a4 4 0 01-4-4v-4m32-4l-3.172-3.172a4 4 0 00-5.656 0L28 28M8 32l9.172-9.172a4 4 0 015.656 0L28 28m0 0l4 4m4-24h8m-4-4v8m-12 4h.02" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <span >{{createP.img}}</span>
                <div class="flex text-sm text-gray-600">
                  <label for="file-upload" class="relative cursor-pointer bg-white rounded-md font-medium text-indigo-600 hover:text-indigo-500 focus-within:outline-none focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-indigo-500">
                  </label>
                  <p class="pl-1 text-white">or drag and drop</p>
                </div>
                <p class="text-xs text-white">
                  PNG, JPG, GIF up to 10MB
                </p>
              </div>
            </div>
          </div>
      </div>

      <div class="flex justify-end mt-6">
          <button class="px-6 py-2 leading-5 text-white transition-colors duration-200 transform bg-pink-500 
          rounded-md hover:bg-pink-700 focus:outline-none focus:bg-gray-600" name="form_a_submit">Guardar y Publicar</button>
      </div>
  </form>
</section>
<br>
<br>
      
        <footer class="flex justify-center bg-transparent">
          <button
            class="bg-blue-600 font-semibold
             text-white py-3 w-full rounded-b-md hover:bg-blue-700 
             focus:outline-none focus:ring shadow-lg hover:shadow-none
              transition-all duration-300"
            @click="showModal2 = false">
            Cerrar
          </button>
        </footer>
        
        </p>
      </div>
    </div>
  </div>

  <!-- Modal3 -->
  <div class="fixed inset-0 w-full h-full z-20 bg-black bg-opacity-50 duration-300 overflow-y-auto" x-show="showModal3"
    x-transition:enter="transition duration-300" x-transition:enter-start="opacity-0"
    x-transition:enter-end="opacity-100" x-transition:leave="transition duration-300"
    x-transition:leave-start="opacity-100" x-transition:leave-end="opacity-0">

    <div class="relative sm:w-3/4 md:w-1/2 lg:w-4/5 mx-2 sm:mx-auto mt-10 mb-24 opacity-100">
      <div class="relative bg-white pt-5 shadow-lg rounded-lg text-gray-900 z-20" @click.away="showModal3 = false"
        x-show="showModal3" x-transition:enter="transition transform duration-300" x-transition:enter-start="scale-0"
        x-transition:enter-end="scale-100" x-transition:leave="transition transform duration-300"
        x-transition:leave-start="scale-100" x-transition:leave-end="scale-0">
        <main class="p-3 text-center mt-10">

          <p>
           <center> 
            <img src="{{imgs.photo}}" class="w-96 h-96 items-center relative justify-center rounded-lg" alt="Intruduce tu prompt">
          </center>
          <form method="post">
            {% csrf_token %}
            <label for="prompt">Describe tu casa:</label>
            <br>
            <input type="text" name="prompt" id="prompt">
            <button type="submit" name="form_b_submit" class="bg-blue-600 text-white p-3 rounded-full">Generate Image</button>
          </form>
          </p>

        </main>
        <footer class="flex justify-center bg-transparent">
          <button
            class="bg-blue-600 font-semibold
             text-white py-3 w-full rounded-b-md hover:bg-blue-700 
             focus:outline-none focus:ring shadow-lg hover:shadow-none
              transition-all duration-300"
            @click="showModal3 = false">
            Cerrar
          </button>
        </footer>
      </div>
    </div>
  </div>

</body>

</html>


{% comment %} <label for="message">Materiales</label>
{{createP.materiales}}
<br> {% endcomment %}