{% load static %}
{% load tailwind_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"
        integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    {% tailwind_css %}
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>

    {% if user.is_authenticated %}

    <header class="bg-gray-100">
        <nav class="flex justify-between items-center w-[98%]  mx-auto">
            <div class="flex flex-wrap">
                <div><h1 class="font-mono pt-2 pb-2 italic font-bold text-lg ">Quetzal <br> &nbsp; Block</h1></div>
                <div><img src="{% static 'logo.jpeg' %}" class="mt-3 rounded-full w-10 h-10"></div>
            </div>
            
            <div class="nav-links duration-500 md:static absolute bg-gray-100 md:min-h-fit min-h-[60vh] 
            left-0 top-[-100%] md:w-auto  w-full flex items-center px-5">
                <ul class="flex md:flex-row flex-col md:items-center md:gap-[4vw] gap-8">
                    <li>
                        <a class="hover:text-gray-500" href="{% url 'menu' %}"><ion-icon name="home-outline"></ion-icon>
                            Menu</a>
                    </li>
                    <li>
                        <a class="hover:text-gray-500" href="{% url 'perfil' %}"><ion-icon
                                name="person-outline"></ion-icon> Perfil</a>
                    </li>
                    <li>
                        <a class="hover:text-gray-500" href="{% url 'mensajes' %}"><ion-icon
                                name="chatbubbles-outline"></ion-icon> Mensajes</a>
                    </li>
                    <li>
                        <a class="hover:text-gray-500" href="{% url 'tendencias' %}"><ion-icon
                                name="newspaper-outline"></ion-icon> Tendencias</a>
                    </li>
                </ul>
            </div>
            <div class="flex items-center gap-2">
                <a href="/logout"><button class="bg-[#a6c1ee] text-white px-5 py-2 rounded-full hover:bg-[#87acec]">Log
                        Out</button></a>
                <ion-icon onclick="onToggleMenu(this)" name="menu" class="text-3xl cursor-pointer md:hidden"></ion-icon>
            </div>
    </header>



    <script>
        const navLinks = document.querySelector('.nav-links')
        function onToggleMenu(e) {
            e.name = e.name === 'menu' ? 'close' : 'menu'
            navLinks.classList.toggle('top-[9%]')
        }
    </script>
    {% else %}
    <header class="bg-gray-100">
        <nav class="flex justify-between items-center w-[98%]  mx-auto">
            <div class="flex flex-wrap">
                <div><h1 class="font-mono pt-2 pb-2 italic font-bold text-lg ">Quetzal <br> &nbsp; Block</h1></div>
                <div><img src="{% static 'logo.jpeg' %}" class="mt-3 rounded-full w-10 h-10"></div>
            </div>
            <div
                class="nav-links duration-500 md:static absolute bg-gray-100 md:min-h-fit min-h-[60vh] left-0 top-[-100%] md:w-auto  w-full flex items-center px-5">
                <ul class="flex md:flex-row flex-col md:items-center md:gap-[4vw] gap-8 pl-20">
                    <li>
                        <a class="hover:text-gray-500" href="/"><ion-icon name="home-outline"></ion-icon> Inicio</a>
                    </li>
                    <li>
                        <a class="hover:text-gray-500" href="conocenos"><ion-icon
                                name="arrow-forward-outline"></ion-icon> Conocenos</a>
                    </li>
                    <li>
                        <a class="hover:text-gray-500" href="empresas"><ion-icon name="business-outline"></ion-icon>
                            Empresas</a>
                    </li>
                    <li>
                        <a class="hover:text-gray-500" href="novedades"><ion-icon name="newspaper-outline"></ion-icon>
                            Novedades</a>
                    </li>
                </ul>
            </div>

            <div class="flex items-center gap-2">
                <a href="login"><button class="bg-[#a6c1ee] text-white px-5 py-2 rounded-full hover:bg-[#87acec]">Log
                        In</button></a>
                <a href="reg"><button class="bg-[#a6c1ee] text-white px-5 py-2 rounded-full hover:bg-[#87acec]">Sign
                        Up</button></a>
                <ion-icon onclick="onToggleMenu(this)" name="menu" class="text-3xl cursor-pointer md:hidden"></ion-icon>
            </div>
    </header>

    {% endif %}

    {% block content %}
    {% endblock %}

    <div class="flex items-top content-center">
        <div class=" my-10 ml-2 mr-5 container justify-center">
            {% block left_sidebar %}
            {% endblock %}
        </div>
        <div class="m-10 container justify-center">
            {% block main_content %}
            {% endblock %}
        </div>
        <div class=" my-10 mr-2 ml-5 w-100 container justify-center">
            {% block right_sidebar %}
            {% endblock %}
        </div>
    </div>

</body>

</html>