{% load static %}
{% load tailwind_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% tailwind_css %}
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>

    {% if user.is_authenticated %}

    <header class="bg-white">
        <nav class="flex justify-between items-center w-[98%]  mx-auto">
            <div>
                <h1 class="font-mono pt-2 pb-2 italic font-bold text-lg ">Quetzal <br> &nbsp; Block</h1>
            </div>
            <div
                class="nav-links duration-500 md:static absolute bg-white md:min-h-fit min-h-[60vh] left-0 top-[-100%] md:w-auto  w-full flex items-center px-5">
                <ul class="flex md:flex-row flex-col md:items-center md:gap-[4vw] gap-8">
                    <li>
                        <a class="hover:text-gray-500" href="/pages/menu">Menu</a>
                    </li>
                    <li>
                        <a class="hover:text-gray-500" href="/">Perfil</a>
                    </li>
                    <li>
                        <a class="hover:text-gray-500" href="#">Mensajes</a>
                    </li>
                    <li>
                        <a class="hover:text-gray-500" href="#">Tendencias</a>
                    </li>
                </ul>
            </div>
            <div class="flex items-center gap-2">
                <a href="/logout"><button class="bg-[#a6c1ee] text-white px-5 py-2 rounded-full hover:bg-[#87acec]">Log
                        Out</button></a>
                <ion-icon onclick="onToggleMenu(this)" name="menu" class="text-3xl cursor-pointer md:hidden"></ion-icon>
            </div>
    </header>



    <script>
        const navLinks = document.querySelector('.nav-links')
        function onToggleMenu(e) {
            e.name = e.name === 'menu' ? 'close' : 'menu'
            navLinks.classList.toggle('top-[9%]')
        }
    </script>
    {% else %}
    <header class="bg-white">
        <nav class="flex justify-between items-center w-[98%]  mx-auto">
            <div>
                <h1 class="font-mono pt-2 pb-2 italic font-bold text-lg ">Quetzal <br> &nbsp; Block</h1>
            </div>
            <div
                class="nav-links duration-500 md:static absolute bg-white md:min-h-fit min-h-[60vh] left-0 top-[-100%] md:w-auto  w-full flex items-center px-5">
                <ul class="flex md:flex-row flex-col md:items-center md:gap-[4vw] gap-8 pl-20">
                    <li>
                        <a class="hover:text-gray-500" href="/">Inicio</a>
                    </li>
                    <li>
                        <a class="hover:text-gray-500" href="#">Conocenos</a>
                    </li>
                    <li>
                        <a class="hover:text-gray-500" href="#">Directorio</a>
                    </li>
                    <li>
                        <a class="hover:text-gray-500" href="#">Novedades</a>
                    </li>
                </ul>
            </div>

            <div class="flex items-center gap-2">
                <a href="/pages/login"><button
                        class="bg-[#a6c1ee] text-white px-5 py-2 rounded-full hover:bg-[#87acec]">Log
                        In</button></a>
                <a href="/pages/reg"><button
                        class="bg-[#a6c1ee] text-white px-5 py-2 rounded-full hover:bg-[#87acec]">Sign
                        Up</button></a>
                <ion-icon onclick="onToggleMenu(this)" name="menu" class="text-3xl cursor-pointer md:hidden"></ion-icon>
            </div>
    </header>

    {% endif %}

    {% block content %}
    {% endblock %}

    <div class="flex  items-center content-center">
        <div class=" my-10 ml-2 mr-5 container justify-center">
            {% block left_sidebar %}
            {% endblock %}
        </div>
        <div class="m-10 container justify-center">
            {% block main_content %}
            {% endblock %}
        </div>
        <div class=" my-10 mr-2 ml-5 w-100 container justify-center">
            {% block right_sidebar %}
            {% endblock %}
        </div>
    </div>

</body>

</html>